fastapi==0.115.6
uvicorn[standard]==0.32.1
python-dotenv==1.0.1
pydantic==2.10.3
pymongo==4.10.1
pandas==2.2.3

langchain==0.3.13
langchain-openai==0.2.14
langchain-mongodb==0.2.0
langchain-core==0.3.28

certifi==2025.1.31
